<div class="row">

    <div class="col-md-3">
    </div>

    <div class="col-md-6">
        <form [formGroup]="loginForm">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <label> Username </label>
                    </div>
                    <div class="row">
                        <input type="text" required formControlName="username">
                    </div>

                    <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)"
                        class="help is-danger">
                        <span *ngIf="loginForm.controls['username'].errors.required">Campo obbligatorio</span>
                    </div>


                    <div class="row">
                        <label> Password </label>
                    </div>

                    <div class="row">
                        <input type="password" formControlName="password">
                    </div>

                    <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                        class="help is-danger">
                        <span *ngIf="loginForm.controls['password'].errors.required">Campo obbligatorio</span>
                    </div>

                    <div class="row">
                        <label id="lblName">
                            {{name}}
                        </label>
                    </div>

                    <div class="row">
                        <button status="basic" [disabled]="loginForm.invalid" size="small" fullWidth (click)="onLogin()">
                            Login
                        </button>
                    </div>
                </div>

                <div class="col-md-3">
                </div>


            </div>
        </form>
    </div>

    <div class="col-md-3">
    </div>

</div>